<% include _header %>
<form action="/" method="POST">
    Title:
    <input type="text" name="title" value="" />
    <br />
    Length:
    <input type="number" name="leng" value="" />
    <br />
    <input type="submit" value="Save" />
</form>
<hr />
<ol>
    <% for (var i = 0; i < list.length; i++) { %>
        <li>
            <%= list[i].fullInfo %>
            <a href="javascript:del('<%= list[i]._id %>');">DEL</a>
        </li>
    <% } %>
</ol>
<script>
function del(id) {
    $.ajax({
        url: '/',
        method: 'delete',
        data: {
            id: id
        },
        success: function(data) {
            location.href = location.href;
        },
        error: function(data) {
            alert('delete failed.');
        }
    });
}
</script>
<% include _footer %>
